$lightBeige : #eae7dc;
$lightBeigeTrans : #eae7dc;
$darkBeige : #d8c3a5;
$grey : #8e8d8a;
$lightRed:#e98074;
$red :#e85a4f;

$darkGreen:#2c3531;
$darkGreenTrans:#2c3531c9;
$lightGreen:#116466;
$brown:#d9b08c; //used for the steps in the stepper
$darkBeige:#ffcb9a;
$lightBeige : #eae7dc;
$blue:#d1e8e2;

$lightGrey: #f2f2f2;
$lightGrey2: #f3f7f6;
$red: #f33e1b;
$green: #58a21d;
$darkBlue: #386e8a;
$lightGreen: #bdd1bd;


.stepsHeader-header{
    background-color: $lightGrey;
    top: 0;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 10222;
    border-bottom: 1px solid rgb(172, 172, 172);
}
.stepsHeader-headerContactsIcon{
    width: 35px;
    height: 35px;
    float: left;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s;
}
.stepsHeader-headerContactsIcon>img{
    height: 15px;
    width: 15px;
}
.stepsHeader-headerContactsIcon:hover{
    background-color: $red;
    border-color: $red;
}
.stepsHeader-fb{ content:url(../../../Assets/facebook-logo.png); }
.stepsHeader-insta{ content:url(../../../Assets/instagram-logo.png); }
.stepsHeader-in{ content:url(../../../Assets/linkedin-logo.png); }
.stepsHeader-gh{ content:url(../../../Assets/github-logo.png); }

.stepsHeader-headerContactsIcon:hover>.stepsHeader-fb{ content:url(../../../Assets/facebook-logo-w.png); }
.stepsHeader-headerContactsIcon:hover>.stepsHeader-insta{ content:url(../../../Assets/instagram-logo-w.png); }
.stepsHeader-headerContactsIcon:hover>.stepsHeader-in{ content:url(../../../Assets/linkedin-logo-w.png); }
.stepsHeader-headerContactsIcon:hover>.stepsHeader-gh{ content:url(../../../Assets/github-logo-w.png); }

.stepsHeader-headerContacts{
    position: absolute;
    top: 22px;
    left: 66px;
}
#stepsHeader-appTitle h3 {
    color: rgb(75, 75, 75);
    font-size: 28px;
    font-weight: 700;
    font-family: "open Sans", sans-serif;
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
}
#stepsHeader-appTitle h5 {
    color: grey;
    font-weight: normal;
    font-style: italic;
    margin-top: -5px;
    margin-left: 8px;
    letter-spacing: 1px;
    text-align: center;
    margin-right: 30px;
}
#stepsHeader-appTitle a {
    text-decoration: none;
}
#stepsHeader-appTitle{
    position: absolute;
    display: block;
    left: 510px;
    top: -17px;
    width: 300px;
}
#stepsHeader-appTitle span{
    display: block;
    float: left;
}
.stepsHeader-googleImg{
    width: 100px;
    height: 28px;
    float: left;
    margin-top: 8px;
}
.stepsHeader-solid{ 
    margin-left: 6px;
    margin-right: 6px;
}

.stepsHeader-profileImage{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid rgb(138, 138, 138);
    margin-left: 51px;
}
.stepsHeader-profileName{
    width: 150px;
    height: 50px;
    color: rgb(75, 75, 75);
    margin-top: -2px;
    text-align: center;
    font-size: small;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.stepsHeader-profile{
    position: absolute;
    top: 9px;
    right: 130px;
    width: 70px;
    height: 70px;
    display: block;
    font-weight: bold;
}
.stepsHeader-profile a{
    text-decoration: none;
}
.stepsHeader-navBar{
    position: fixed;
    top: 93px;
    width: 100%;
    height: 50px;
    background-color: $lightBeigeTrans;
    z-index: 9999;
    box-shadow: 5px 1px 12px #888888;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stepsHeader-navBar>ul>li{
    display: inline;
    padding: 15px 25px;
    cursor: pointer;
    transition: transform 0.6s linear;
}
.stepsHeader-navBar>ul>li>a{
    text-decoration: none;
    color: $grey;
}
.stepsHeader-navBar>ul>li:hover{
    border-bottom: 2px solid $red;
}
.stepsHeader-navBar>ul>li:hover>a{
    color: $lightRed;
}