
$darkGreen:#2c3531;
$darkGreenTrans:#2c3531c9;
$brown:#d9b08c; //used for the steps in the stepper
$darkBeige:#ffcb9a;
$lightBeige : #eae7dc;
$blue:#d1e8e2;

$lightGrey: #f2f2f2;
$lightGrey2: #f3f7f6;
$red: #f33e1b;
$green: #3cb35e;
$darkBlue: #386e8a;
$lightGreen: #bdd1bd;


.Principal-navIcons{
    margin-top: 10px !important;
}
.Principal-SideBar-icon {
    margin: 8px ;
    width: 28px;
    height: 28px;
}
.sidenav---sidenav---_2tBP {
    height: 90% !important;
    position: fixed !important;
    margin-top: 113px;
    background-color: #ececec !important;
    border-right: 0.3px solid $darkBlue;
}
.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f {
    color: $darkBlue !important;
}
.sidenav---icon-bar---u1f02 {
    background-color: $darkBlue !important;
}
#SideBar-logout {
    margin-top: 200px !important;
}
